# ##############################################################################

# iCEcube PCF

# Version:            2017.08.27940

# File Generated:     Mar 14 2019 17:59:06

# Family & Device:    iCE40HX8K

# Package:            CT256

# ##############################################################################

###MergeFF List 1
set_io_ff i_sel -in ON

###IOSet List 18
set_io i_clk J3
set_io i_dir T2
set_io i_rst T1
set_io i_sel R2
set_io o_hsd[0] C2
set_io o_hsd[1] C1
set_io o_hsd[2] B2
set_io o_hsd[3] B1
set_io o_lsd[0] G2
set_io o_lsd[1] G1
set_io o_lsd[2] F2
set_io o_lsd[3] F1
set_io o_lsd[4] E2
set_io o_lsd[5] D2
set_io o_lsd[6] D1

